<div class="">
  <div class="row">
    <div class="col-4">
      <div class="single-product">
        <img src="../../assets/images/natural-tododia.jpeg" alt="" />
        <p class="product-title">Crema para el cuerpo Cereza y Avellana</p>
        <p>Linea: Todo Dia</p>
      </div>
    </div>
    <div class="col-4">
      <div class="single-product">
        <img src="../../assets/images/natura-cremanutritiva.jpeg" alt="" />
        <p class="product-title">Crema nutritiva</p>
        <p>Linea: Todo Dia</p>
      </div>
    </div>
    <div class="col-4">
      <div class="single-product">
        <img src="../../assets/images/natura-ekos.jpeg" alt="" />
        <p class="product-title">Hidratante para el Cuerpo Andiroba</p>
        <p>Linea: Ekos</p>
      </div>
    </div>
    <div class="col-4">
      <div class="single-product">
        <img src="../../assets/images/natural-hidratante.jpeg" alt="" />
        <p class="product-title">Hidratante natural Repuesto</p>
        <p>Linea: Todo Dia</p>
      </div>
    </div>
    <div class="col-4">
      <div class="single-product">
        <img src="../../assets/images/natura-piernasypies.jpeg" alt="" />
        <p class="product-title">Gel Crema para Piernas y Pies Andiroba</p>
        <p>Linea: Ekos</p>
      </div>
    </div>
    <div class="col-4">
      <div class="single-product">
        <img src="../../assets/images/natura-deshodorante.jpeg" alt="" />
        <p class="product-title">Mousse Desodorante Hidratante Corporal Pitanga</p>
        <p>Linea: Ekos</p>
      </div>
    </div>
  </div>
</div>
