<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header">
        <img src="./assets/images/Artboard_63-512.png" alt="" />
        <nav>
          <a routerLink='/hola'>BlOG</a>
          <a href="">RESEÑAS</a>
          <a href="">CONTACTO</a>
          <a href="">PRODUCTOS</a>
          <a href="">RUTINAS</a>
        </nav>
      </div>
    </header>
    <!-- cover -->
    
    <router-outlet></router-outlet>

  </body>
</html>
