html,
body {
  margin: -8px;
  font-family: "Arvo", serif;
}
/* header*/
.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: lightcoral;
  padding: 0 10px;
}
.header img {
  width: 70px;
}
.header nav {
  margin-top: 40px;
}
.header nav a {
  margin-right: 15px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  top: 50%;
}
.prueba{
  color: blueviolet;
}



