.list-products {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.nav-products {
  margin-top: 15%;
  border: solid lightcoral;
  height: fit-content;
}
.nav-products p{
  border-bottom: solid lightcoral;
}
.nav-products p:last-child{
  border: none;
}
.products {
  margin-left: 30px;
}
.title {
  font-size: 27px;
  color: brown;
  font-weight: bold;
}
.aclaracion {
  color: black;
  font-size: 15px;
}
.aclaracion span {
  font-weight: bold;
}
.items{
  padding: 13px;
  text-align: center;
  margin-bottom: 0;
}
