<main class="container">
  <!-- productos -->
  <div class="list-products">
    <div class="nav-products">
      <p *ngFor="let item of navItems" class="items"
      [class.selected]='item=== selectedType'
      (click)='onSelect(item)'>
        <a>{{item.name}}</a>
      </p>
    </div>
    <div class="products">
      <p class="title">~ Productos ~</p>
      <p class="aclaracion">
        Los productos <span>cruelty free</span> no utilizan animales para llevar
        a cabo sus testeos pero, eso no quita que contenga ingredientes de
        origen animal. Los productos que sean veganos y cruelty free seran
        aclarados
      </p>
      
      <app-corporal-care [item]='selectedType'></app-corporal-care>
    </div>
  </div>
</main>
